.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/settings.json
.vscode/settings.json
.vs/*
.idea/
[Pp]ackages/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]ealeses/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.log
/appsettings.Development.json
/publishapi.bat
/publishtimer.bat
backend/EPaperPHD/logs/*

# ignore development configuration
backend/EPaperPHD/appsettings.Development.json
backend/EPaperPHD/appsettings.Production.json
editorconfig
*.pubxml
*profile.arm.json
backend/EPaperPHD/.config/*

# ignore unit test config files.
*.bat
backend/EPaperPHD/TestResults/
coveragereport/
Codes/.vscode/
*.http
Makefile
coverlet.runsettings

